@import "macchiato.css";
* {
	/* reference the color by using @color-name */
	font-family: Blex Mono Nerd Regular;
	color: @text;
}

window#waybar {
	/* you can also GTK3 CSS functions! */
	/*shade(@base, 0.9); */
	background-color: transparent;
}

#tray,
#clock,
#battery,
#memory,
#backlight,
#network,
#pulseaudio,
#language,
#idle_inhibitor{
	margin-top: 0.5em;
	padding: 0 10px;
	background-color: rgba(0, 0, 0, 0.8);
	font-weight: bold;
}

#tray{
	margin-right: 0.5em;
	border-radius: 1rem;
}

#clock {
	margin-right: 0.5em;
	margin-left: 0.5em;
	border-radius: 1rem;
}

#pulseaudio{
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;

}
#battery{
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

#window,
#custom-media{
	background-color: rgba(0, 0, 0, 0.8);
	padding: 0 10px;
	font-weight: bold;
	margin-top: 0.5em;
	border-radius: 1rem;
}
#window {
	margin-left: 0.5em;
	margin-right: 0.5em;
}

#workspaces button {
	color: #dfdfdf;
}

#workspaces{
	border-radius:1rem;
	background-color: rgba(0, 0, 0, 0.8);
	margin-top: 0.5em;
	margin-left: 0.5em;
	padding: 0 10px;
}

#workspaces button.active {
	border-radius: 0.23rem;
    border-bottom: 1px solid @opaque0;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}



#language{
	color: @mauve;
}

#battery {
	color: @green;
}

#memory {
	color: @yellow;
}

#backlight {
	color: @rosewater;
}

#waybar.empty #window{
	background: none;
}

#clock {
	color: @sky;
}


@keyframes blink {
	to {
		background-color: #ffffff;
		color: #000000;
	}
}

label:focus {
	background-color: shade(@base, 0.9);
}

#network {
	color: @peach;
}

#network.disconnected {
	background-color: #f53c3c;
}

#pulseaudio {
	color: @teal;
}

#custom-media {
	margin-left: 0.5em;
	color: @teal;
}


#workspaces{
	font-size:16px;
}
